<h2>New user</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.user_path(@conn, :create) %>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>