<%= form_for @changeset, Routes.booking_path(@conn, :create), fn booking -> %>
  <div class="form-group">
    <%= label booking, :pickup_address, class: "control-label" %>
    <%= text_input booking, :pickup_address, class: "form-control", id: "pickup_address" %>
  </div>
  <div class="form-group">
    <%= label booking, :dropoff_address, class: "control-label" %>
    <%= text_input booking, :dropoff_address, class: "form-control", id: "dropoff_address" %>
  </div>
  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary", id: "submit_button" %>
  </div>
<% end %>
